//COLORS
$color-blue-primary: #0071CE;
$color-blue-secondary-light: #7FB8E6;
$color-blue-secondary: #60B2E4;
$color-light-blue: #C7E4F7;
$color-green-accent: #30CC87;
$color-error: #FF6E6E;
$color-warning: #FFA502;
$color-shadow: rgba(0, 113, 206, 0.2);
$color-shadow-10: rgba(0, 113, 206, 0.1);
$color-shadow-20: rgba(0, 113, 206, 0.2);
$color-background: #F6FAFF;

$color-white: #ffff;
$color-empty: #DDE2E9;
$color-grey: #C6CAD0;
$color-grey-border: #EDF2F8;

$color-text-dark: #293A48;
$color-text-grey: #A4AEBD;

$shadow-blue-10:  0px 0 10px 0px $color-shadow-10;
$shadow-blue-20:  0px 0px 20px 0px $color-shadow-20;
