<div class="signin">
  <div class="heading"><span>Sign in</span></div>
  <form class="form" [formGroup]="FormGroup">
    <div>
      <div class="form_input">
        <app-text-input [parentControl]="FormGroup.get('email')" [title]="'Email'"></app-text-input>
      </div>
      <div class="form_input">
        <app-text-input [parentControl]="FormGroup.get('password')" [title]="'Password'"></app-text-input>
      </div>
    </div>
    <div class="form_footer">
      <div class="no-account"><span>Don't have an account yet?</span></div>
      <div class="signup-link" (click)="signup()">
        <span>Sign up</span>
      </div>
    </div>
  </form>
  <button class="submit-button" [ngClass]="{'submit-button__disabled': !FormGroup.valid}" (click)="login()">
    <span>Submit</span>
  </button>
</div>
